


h2 {
    /* font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.03em;
    font-weight: bold;
    color: #4f6367; */
    
    
    border-bottom-color:#dde8ea;
    border-bottom: 10px solid;
    padding-bottom: 30px;
    font-size: 34px;
    line-height: 34px;
    font-weight: 300;
    color: #4f6367;
    border-bottom: 10px solid;
    max-width: 100%;
    
}

h3 {
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -0.03em;
    /* font-weight: bold; */
    color: #4f6367;
    
}

#experience{
    max-width: 100%;
}

.company{
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.03em;
    color: #4f6367;
    max-width: 100%;
}