<h1>EXPERIENCE</h1>
<h2>Developer</h2>
<h3>Watchtower / London Uk / 8 years</h3>

    
<ul>
    <li>Built, tested and deployed scalable, highly available and modular software product built with WPF, Servicestack, OrmLite and SQL technologies</li>
    <li>Modified existing software to correct errors, adapt to new hardware and improve performance in an Access 2010 application</li>
    <li>Performed regression and system-level testing to verify software quality and function before it was released</li>
    <li>Debugged and developed code fixes and enhancements for inclusion in future code releases and patches</li>
    <li>Collaborated with developers to enhance supportability and identify performance bottlenecks</li>
    <li>Developed desktop application using Unity and Prism</li>
    <li>Deployed SharePoint 2010 intranet, developed SharePoint features, plugged in developed Silverlight code into SharePoint web parts</li>
    <li>Created, delivered and maintained websites (www.jwgift.org, www.tocars.org.uk ) using ASP.NET in C# and Visual Basic languages</li>
    <li>Plugged in jwgift website to Sage Pay financial pages, switched DNS and web host IP addresses</li>
    <li>Maintained jwgift website by fixing website bugs, uploading files via ftp, updating SSL Thawte certificates, maintaining small log database</li>
</ul>    

<h2>System Analyst & Developer</h2>
<h3> Seguros Inbursa Bank/ Mexico City / 2 years</h3>
<ul>    
    <li>Controlled admin and error corrections in banking systems programmed in VB6</li>
    <li>Developed enhancements and provided support during new application releases of the product</li>
    <li>Provided support to databases, stored procedures as well as queries creation in Sybase 11 and SQL 2000 databases</li>
    <li>Provided 2nd/3rd level support to cashiers (end user) with terminal errors</li>
</ul>

<h2>Sales and Support Engineer</h2>
<h3> INTECSIS/ Mexico City / 1 year</h3>
<ul>    
    <li>Managed Sun Microsystems equipment</li>
    <li>Elaborated and implemented client proposals</li>
    <li>Performed Operating System installations (Solaris 8)</li>
    <li>Controlled back-up procedures (RAID 0,1) </li>
    <li>Shell programming</li>
</ul>

<h2>Technical Support Engineer</h2>
<h3> AT&T/ Mexico City / 1 year</h3>
<ul>    
    <li>Provided customer assistance via telephone and email during Internet campaign</li>
    <li>Performed e-mail account and internet access</li>
</ul>
