<div>

    <h2>Developer</h2>
    <h3>Watchtower, London UK, 8 years</h3>
    
        
    <ul class="experience">
        <li>Programmed scalable, highly available and modular front-end and back-end software product designed to integrate all areas of the organization in an international Agile environment using C#, WPF, MEF, Servicestack, OrmLite and SQL technologies.
        </li>
        <li>Implemented Gherkin scenarios using SpecFlow to test software quality before release.</li>
        <li>Deployed SharePoint 2010 custom solutions using SharePoint API and supported SharePoint 2013 and Office 365 users.</li>
        <li>Created, delivered and maintained websites ASP.NET C# and VB.</li>
    </ul>    
    
    <h2>System Analyst </h2>
    <h3> Seguros Inbursa Bank, Mexico City, 2 years</h3>
    <ul class="experience">    
        <li>Controlled admin and error corrections in banking systems programmed in VB6</li>
        <li>Developed enhancements and provided support during new application releases of the product</li>
        <li>Provided support to databases, stored procedures as well as queries creation in Sybase 11 and SQL 2000 databases</li>
        <li>Provided 2nd/3rd level support to cashiers (end user) with terminal errors</li>
    </ul>
    
    <h2>Sales and Support Engineer</h2>
    <h3> INTECSIS, Mexico City, 1 year</h3>
    <ul class="experience">    
        <li>Managed Sun Microsystems equipment</li>
        <li>Elaborated and implemented client proposals</li>
        <li>Performed Operating System installations (Solaris 8)</li>
        <li>Controlled back-up procedures (RAID 0,1) </li>
        <li>Shell programming</li>
    </ul>
    
    <h2>Technical Support Engineer</h2>
    <h3> AT&T, Mexico City, 1 year</h3>
    <ul class="experience">    
        <li>Provided customer assistance via telephone and email during Internet campaign</li>
        <li>Performed e-mail account and internet access</li>
    </ul>
</div>

