<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row content">

    <div id="leftSide" class="col-sm-4 col-md-4 col-lg-3 sidenav">
      <!--FOTO-->
      <img src="../assets/Yidah.png" class="img-responsive img-circle center-block" alt="Northern Lights">
      <hr>

      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a [routerLink]="['/experience']">EXPERIENCE</a></li>
        <li><a [routerLink]="['/education']">EDUCATION</a></li>
        <li><a [routerLink]="['/projects']">PROJECTS</a></li>
      </ul>
      <hr>

      <p>TECHNICAL SKILLS</p>
      <p-bar [skills]='techSkills'></p-bar>
      <hr>

      <p>LANGUAGES</p>
      <p-bar [skills]='lanSkills'></p-bar>
      <hr>

      <p>CONTACT / SOCIAL</p>
      <ul class="nav nav-pills">
        <li><i class="fa fa-phone-square" aria-hidden="true" style="font-size:36px;color:white"></i></li>

        <li><i class="fa fa-envelope" aria-hidden="true" style="font-size:36px;color:white"></i></li>
        <li><i class="fa fa-facebook-official" aria-hidden="true" style="font-size:36px;color:white"></i></li>

      </ul>

    </div>

    <div id="rightSide" class="col-sm-8 col-md-8 col-lg-9">

      <div class="jumbotron">
        <h1>Yidah Melendez</h1>
        <hr>
        <h2>DEVELOPER</h2>
      </div>


      <div class="container-fluid">
        <h2>ABOUT ME </h2>
        <div class="well"> In the final year of my degree I was selected to train as a Sun Microsystems Engineer. I have been awarded a computer
          science and telecommunications degrees. I have been enabled to experience living and working in a different cultural
          environment. For the last eight years, I have worked as a C# developer in London on a variety of computer projects
          including websites and desktop applications. I currently work on an international project that allows me to have
          pair programming sessions every day with experienced developers from other countries including Japan, Germany,
          France, South Africa, Mexico, United States and Canada that constantly enhance my skills.
        </div>
        <!--here my angular views-->
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>

  <!--<footer class="container-fluid">
  <p>Footer Text</p>
</footer>-->