/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

    /* Set 100% height */
    .sidenav {
        
        height: 100%;
      }

          /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
        .sidenav {
          height: auto;
          padding: 15px;
        }
        .row.content {height: auto;} 
      }
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #ff8533;
}

a {
    color:white;
    text-decoration: none;
}

#leftSide{
    background-color:grey;
    color: white;
  

}

#rightSide{

    
}

.jumbotron {
    background-color:#ff8533;
    margin-bottom: 0px;
    text-align: center;
    font-family: Arial;
    font-style:normal;
    font-variant-caps: small-caps;
    color: grey;   
}

.jumbotron hr {
    border-top:3px solid #eee;
    width:50%;
}

.well {

    background-color: lightyellow;
}


