
.content {
    max-width: 1600px;
    margin: auto;
}
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

    /* Set 100% height */
    .sidenav {
        
        height: 100%;
      }

          /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
        .sidenav {
          height: auto;
          padding: 15px;
        }
        .row.content {height: auto;} 
      }
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #ff8533;
}

a {
    color:white;
    text-decoration: none;
}

#leftSide{
    background-color:grey;
    color: white;
  

}

#rightSide{

    
}

.jumbotron {
    background-color:#ff8533;
    margin-bottom: 0px;
    text-align: center;
    font-family: Arial;
    font-style:normal;
    font-variant-caps: small-caps;
    color: grey;   
}

.jumbotron hr {
    border-top:3px solid #eee;
    width:50%;
}

.well {
background: #f2c213;
color: #4f6367;
border: 1px border-style color;
font-size: 17px;
letter-spacing: -0.03em;
text-align: left;
font-style: italic;
font-family:  Georgia, "Times New Roman", Times, serif;


}

.aboutMe{
    font-size: 34px;
    line-height: 34px;
    letter-spacing: -0.03em;
    font-weight: bold;
    color: #4f6367;
}


.spa{
   
}

